<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>ProdSync - Your Product Management Solution</title>
</head>
<body>
  <header>
    <div class="logo"><a class ="landing" href="/">ProdSync</a></div>
  </header>
  <main>
      <section class="hero">
          <div class="hero-content">
              <h1>Boost Your Productivity with ProdSync</h1>
              <p>Effortlessly manage your projects and tasks with our intuitive product management app.</p>
              <a href="/products" class="cta-button">Get Started</a>
          </div>
      </section>
  </main>
  <footer>
      &copy; 2024 ProdSync. All rights reserved.
  </footer>
</body>
</html>
